doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/race.css')
  body
    script(src='js/jquery-1.7.2.min.js')

    img.sailboat(src="images/sailboat1.png", id = "sailboat1" )
    img.conveyorbelt(src="images/conveyor and fan.png", id = "conveyorbelt1" )
    div.wave#wave1

    img.sailboat(src="images/sailboat1.png", id = "sailboat2" )
    img.conveyorbelt(src="images/conveyor and fan.png", id = "conveyorbelt2" )
    .wave#wave2

    img.sailboat(src="images/sailboat1.png", id = "sailboat3" )
    img.conveyorbelt(src="images/conveyor and fan.png", id = "conveyorbelt3" )
    .wave#wave3

    img.sailboat(src="images/sailboat1.png", id = "sailboat4" )
    img.conveyorbelt(src="images/conveyor and fan.png", id = "conveyorbelt4" )
    .wave#wave4

    img.sailboat(src="images/sailboat1.png", id = "sailboat5" )
    img.conveyorbelt(src="images/conveyor and fan.png", id = "conveyorbelt5" )
    .wave#wave5

    img.sailboat(src="images/sailboat1.png", id = "sailboat6" )
    img.conveyorbelt(src="images/conveyor and fan.png", id = "conveyorbelt6" )
    .wave#wave6


    script(src='/js/race.js')